table>tbody>tr>td>img { vertical-align: middle; }
table>tbody>tr>td input[type='text'] { text-align: center }
.smithing-action { line-height: 32px; }
.smithing-icon { object-fit: none; width: 32px; height: 32px; }
