<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<title>TerraFirmaCraft Smithing Calculator</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.5.3/dist/vuetify.min.css">
		<link rel="stylesheet" href="css/styles.css?v=202402120605">
	</head>
	<body>
		<div id="app">
			<v-dialog v-model="show_how_to_choose_dialog" width="500">
				<v-card title="How to Choose what to Calculate From">
					<v-card-text>
						<p class="mt-2"><strong>Calculate from: Beginning</strong> means from when you first put the ingot in the anvil. This will always give you a perfectly forged item but requires you to find the smithing value, which means if you used that ingot to find it, you would have to melt it down, and make a new ingot, in order to follow all the smithing steps.</p>
						<p class="mt-3"><strong>Calculate from: Aligned Arrows</strong> means you have to align the red and green arrow before using the steps calculated here. However, while this option does not require you to find the smithing value, it may not always give you a perfectly forged item.</p>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn variant="outlined" @click="closeHowToChooseCalcFrom">Close</v-btn>
					</v-card-actions>
				</v-card></v-dialog>
			<v-dialog v-model="show_helper_dialog" width="500">
				<v-card title="Smithing Value Helper">
					<v-card-text>
						<table>
							<thead>
								<tr>
									<th>Action</th>
									<th>Count</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="(action, index) in smithingHelperValues">
									<td>
										<img class="smithing-icon" :style="{ objectPosition: action.img_offset+'px 0' }" src="images/smithing-actions.png" :title="action.name" :key="action.key" />
										{{ action.name }}
									</td>
									<td>
										<v-text-field v-model="action.count.value" placeholder="0" density="compact" variant="outlined" hide-details></v-text-field>
									</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<th class="pt-3">Total Smithing Value</th>
									<th class="pt-3">{{ smithingHelperTotal }}</th>
								</tr>
							</tfoot>
						</table>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="primary" variant="elevated" @click="useHelperValue">Use This Value</v-btn>
						<v-btn variant="outlined" @click="closeHelperDialog">Close Helper</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
			<v-container>
				<div class="text-h3 text-center">TerraFirmaCraft Smithing Calculator</div>
				<div class="text-subtitle-1 text-center">What does it take to perfectly forge an item?</div>
				<div class="text-subtitle-2 text-center">Use the fields below to find out!</div>
				<hr class="my-2" />
				<v-row>
					<v-col class="v-col-3">Calculate from</v-col>
					<v-col class="v-col-3">
						<v-select :items="calcFrom" v-model="selected_calc_from"></v-select>
					</v-col>
					<v-col class="v-col-6"><small><a class="text-blue text-decoration-underline cursor-pointer" @click="showHowToChooseCalcFrom">How do I choose?<br />Click here for help</a></small></v-col>
				</v-row>
				<v-row v-show="showUserDefinedSmithingValue">
					<v-col class="v-col-3">Enter the smithing value<br />(0 - 150)</v-col>
					<v-col class="v-col-3">
						<v-text-field v-model="requested_offset" placeholder="0" density="compact" variant="outlined" hide-details></v-text-field>
					</v-col>
					<v-col class="v-col-6"><small>Find this by recording all smithing actions made to align the red and green arrows in the TFC anvil for the selected plan, <a class="text-blue text-decoration-underline cursor-pointer" @click="showHelperDialog">then use this to get the value</a><br /><strong>Note:</strong> Once this value is found, you will have to use a new ingot to properly follow the smithing steps!</small></v-col>
				</v-row>
				<v-row>
					<v-col class="v-col-3 offset-3 text-center">Last</v-col>
					<v-col class="v-col-3 text-center">Second Last</v-col>
					<v-col class="v-col-3 text-center">Third Last</v-col>
					<v-col class="v-col-3">Select last smithing actions</v-col>
					<v-col v-for="n in 3" class="v-col-3">
						<v-select :items="smithingActionsForSelect" item-title="name" v-model="lastActions[n-1]" density="compact" return-object>
							<!-- selected item template -->
							<template #selection="{ item }">
								<v-row class="align-center" dense>
									<v-col class="v-col-auto">
										<img class="smithing-icon" :style="{ objectPosition: item.raw.img_offset+'px 0' }" src="images/smithing-actions.png" :title="item.raw.name" :key="item.raw.key" />
									</v-col>
									<v-col>{{ item.raw.name }}</v-col>
								</v-row>
							</template>
							<!-- dropdown list template -->
							<template #item="{ item, props }">
								<v-list-item v-bind="props">
									<template #title>
										<v-row>
											<v-col class="v-col-auto">
												<img class="smithing-icon" :style="{ objectPosition: item.raw.img_offset+'px 0' }" src="images/smithing-actions.png" :title="item.raw.name" :key="item.raw.key" />
											</v-col>
											<v-col>{{ item.raw.name }}</v-col>
										</v-row>
									</template>
								</v-list-item>
							</template>
						</v-select>
					</v-col>
				</v-row>
				<div class="mb-3">
					<v-btn color="primary" @click="calcSmithingActions()" :disabled="isCalculating">Calculate</v-btn>
				</div>
				<div v-show="noSuggestions">No Smithing Suggestions</div>
				<div v-show="isCalculating">Calculating...</div>
				<div v-show="hasSuggestions">
					<div>Do the following actions in the following order:</div>
					<div>
						<ol style="list-style-type: decimal;">
							<li v-for="action in listsOfSmithingActions[0]">{{ action }}</li>
						</ol>
					</div>
					<template v-if="listsOfSmithingActions.length > 1">
						<v-btn class="mt-2 mb-1" @click="show_more = !show_more">{{ "Show " + (show_more ? "less" : "more") }}</v-btn>
						<div v-show="show_more" v-for="(listOfSmithingActions, index) in listsOfSmithingActions.slice(1)">
							<ol style="list-style-type: decimal;">
								<li v-for="action in listOfSmithingActions">{{ action }}</li>
							</ol>
							<hr v-if="index+1 < listsOfSmithingActions.length" />
						</div>
					</template>
				</div>
			</v-container>
		</div>
		<script src="https://unpkg.com/vue@3.4.19/dist/vue.global.prod.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vuetify@3.5.3/dist/vuetify.min.js"></script>
		<script src="js/script.js?v=202402150849"></script>
	</body>
</html>
